################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CarApi3March/obj/Debug/net8.0/CarApi3March.AssemblyInfo.cs
/CarApi3March/obj/Debug/net8.0/CarApi3March.AssemblyInfo.cs
/CarApi3March/obj/Debug/net8.0/CarApi3March.AssemblyInfoInputs.cache
/CarApi3March/obj/Debug/net8.0/CarApi3March.assets.cache
/CarApi3March/obj/Debug/net8.0/CarApi3March.GeneratedMSBuildEditorConfig.editorconfig
/CarApi3March/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/CarApi3March/obj/Release/net8.0
